extend layout 

block content 
    h1= title 

    table
        tr 
            th Author 
            th Age 
            th Number of Publications
            th
        each author in authors 
            tr 
                td 
                    a(href=author.url) #{author.fullName}
                td
                    p=author.age
                td
                    p='0'
                td
                    -var deleteUrl = `/authors/${author._id}/delete` 
                    form(action=deleteUrl method='POST')
                        button.btn.btn-danger(type='submit') Delete
        else 
            li No authors in the current catalog