extend layout 

block content 
    h1= title 

    table
        tr 
            th Author 
            th Age 
            th Number of Publications
        each author in authors 
            tr 
                td 
                    a(href=author.url) #{author.fullName}
                td
                    p=author.age
                td
                    p='0'
        else 
            li No authors in the current catalog