extend layout 

block content 
    h1= title 

    table
        tr 
            th Title
            th Author 
            th Summary 
        each book in books 
            tr
                td
                    a(href=book.url) #{book.title}
                td=book.author.fullName
                td=book.summary
        else 
            h3 No books for this genre in the current catalog